.navbar li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.navbar-expand-lg.navbar-light.bg-light > .container-fluid > a 
{
  padding:12px; 
  padding-bottom:12px;
}
.navbar-expand-lg.navbar-light.bg-light {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand {
  min-height: 20px;
  font-size: 20px;
  background: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-light .navbar-brand {
  color: white;
  padding: 20px;
}

/* Adjust color */
.first_page {
    background: #d5d8dc;
}

.col-md-7{
  margin-top: 30px;
  padding: 20px;
  background: white;
}
.col-md-7 img {
    width: 450px;
    height: auto;
    float: left;
    padding: 0 10px 0 0;
}
.col-md-4{
  margin-top: 30px;
  padding : 20px;
  background: white;
}
.col-md-4 img{
  width: 200px;
  height:auto;
  float: left;
  width: 50%;
  padding: 5px;
}

h3{
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#compare{
  margin-top: 20px;
  margin-left: 80px;
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#compare_2{
  margin-top: 20px;
  margin-left: 120px;
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style for the data page */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p {
  font-family: arial, sans-serif;
  margin-left: 30px;
}

.datasheet {
  margin-top: 20px;
  margin-left: 30px;
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
 
  .col-md-4 img{
    width: 200px;
    height:auto;
    float: left;
    width: 25%;
    padding: 5px;
  }

  /* .navbar-expand-lg.navbar-light.bg-light > .container-fluid > a  {
    background-color: darkcyan;
    padding: 20px;
  } */
  
}
