/* Style for landing page */
/* Navbar section */
.navbar li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.navbar-expand-lg.navbar-light.bg-light.fixed-top.py-lg-0 > .container-fluid > a 
{
  padding:12px; 
  padding-bottom:12px;
}
.navbar-expand-lg.navbar-light.bg-light.fixed-top.py-lg-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand {
  min-height: 20px;
  font-size: 20px;
  background: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-light .navbar-brand {
  color: white;
  padding: 20px;
}

.backgroud_gray {
    background: #d5d8dc;
}

/* Body section */
.col-md-7{
  margin-top: 30px;
  padding: 20px;
  background: white;
}
.col-md-7 img {
    width: 450px;
    height: auto;
    float: left;
    padding: 0 10px 0 0;
}
.col-md-6 img{
  text-align: center;
  width: 200px;
  height: auto;
  width:100%;
 
}

#first_column img{
  width: 200px;
  height: auto;
  float: left;
  width: 50%;
  padding: 5px;
}


.col-md-4{
  margin-top: 30px;
  padding : 20px;
  background: white;
}

.col-md-4 > a {
  cursor:pointer;
}

h3{
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
  color: darkcyan;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style for the comparison page */
.col-md-12{
  margin-top: 30px;
  padding: 20px;
  background: white;
}
.col-sm-6{
  padding: 20px;
}
#compare{
  margin-left: 100px;
}

#compare_2{
  margin-left: 120px;
}

/* Style for the visualization page */
.figure {
  border: 3px solid darkcyan;
}

/* Style for the Contact page */

/* Style for the data page */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.col-md-4 > #contact_p {
  font-family: arial, sans-serif;
}

#first_paragraph {
  font-family: arial, sans-serif;
  margin-left: 30px;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
 
  #first_column img{
    width: 200px;
    height:auto;
    float: left;
    width: 25%;
    padding: 5px;
  }

  .col-md-7 img {
    width: 350px;
    height: auto;
    float: left;
    padding: 0 10px 0 0;
}


}